*{
    margin: 0;
    padding: 0;
}
/* *{
    border: 2px solid;
    background-image: url("https://wallpapercave.com/wp/wp4241657.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
} */
